* {
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
}
a .anchor:hover {
  text-decoration: none;
  font-size: larger;
}
.cards {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}
.App {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 70vw;
  height: 100%;
}

.iconBg {
  background-color: #101427;
  color: #fff;
  display: flex;

  place-items: center;

  border-radius: 3px;
  padding: 10px;
}

.grid-item {
  background-color: #101427;
  border: 0.1em ridge #101427;
  margin: auto;
  margin-right: 0;
  font-size: 1.3em;
  margin-left: 1ch;
  margin-top: 0ch;
}
@media (max-width: 600px) {
  .iconBg {
    background-color: #101427;
    font-size: 0.7em;
    padding: 0.6em;
  }
}
.anchor {
  color: #fff;
}
