* {
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
}

.cards {
  border-radius: 3px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}
.App {
  position: fixed;
  top: 50%;
  margin: auto;
  padding: 3ch;
  width: auto;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.iconBg {
  background-color: #101427;
  width: 5vmin;
  color: #fff !important;
  border-radius: 3px;
  padding: 1ch;
  margin-left: 3ch;
  height: 5vmin;
}
