body {
  background-color: #101427;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  background-color: #101427;
  height: 100vh;
  padding: 8vh 3vw 4vh 3vw;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (max-width: 600px) {
  #root {
    background-color: #101427;
    height: 100%;
    padding: 5vh 0vw 4vh 0vw;
  }
}
@media (min-width: 600px) {
  #root {
    background-color: #101427;
    height: 100%;
    padding: 8vh 3vw 4vh 3vw;
  }
}
